<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Date of meeting</title>
        <!-- スタイルCSS -->
        <link rel="stylesheet" href="/date.css">
        <link rel="stylesheet" href="/navigation.css">
        <!-- WPA化 -->
        <link rel="shortcut icon" href="/icon512.png" />
        <link rel="manifest" href="/manifest.json">
    </head>

    <body>
        <%- include("common/sideNav.ejs")%>
        <!-- title&date -->
        <div class="flex-wrapper-two">
            <div class="title">
                <%= results[0].name %>
            </div>

            <%let tmp %>
            <% for (let k=0; k < results.length ; k++) { %>
                <div class="circle">
                    <a href="/public/keywordhtml?date=<%=results[k].date %>" class="key">
                        <img class="cir<%=k %>" src="https://static.overlay-tech.com/assets/a1ab5bd5-5f41-436f-a6c6-f26315247325.png" />
                        <p class="num<%=k %>"><%= results[k].japanesedate %></p>
                    </a>
                </div>
                <% tmp=k+1 %>
            <% } %>
            <% for (tmp; tmp < 5 ; tmp++) { %>
                <div class="circle">
                    <img class="cir<%=tmp%>" src="https://static.overlay-tech.com/assets/a1ab5bd5-5f41-436f-a6c6-f26315247325.png" />
                </div>
            <% } %>

        </div>
        <%- include("common/bottomNav.ejs")%>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js', { scope: '/' });
            }
        </script>
    </body>
</html>
