<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Keyword of contents</title>
        <!-- スタイルCSS -->
        <link rel="stylesheet" href="/keyword.css" type="text/css">
        <link rel="stylesheet" href="/navigation.css">
        <link rel="shortcut icon" href="/icon512.png" />
    </head>

    <body>
      <%- include("common/sideNav.ejs")%>
      <!-- clock & keyword -->
      <div class="flex-wrapper-two">

        <img alt="" class="arrow1" src="https://static.overlay-tech.com/assets/6288c40a-3570-4c86-925d-ea16594da7a1.svg">
        <img alt="" class="arrow2"src="https://static.overlay-tech.com/assets/9bb4921f-9475-4718-9655-56fe24f89b58.svg">

        <p class="day"><%= results[0].date %></p>

        <a href="javascript:history.back()">
          <div class="num-1-1">
            <img alt="" class="return" src="https://static.overlay-tech.com/assets/3790ab4e-eed9-48ef-b511-82875c0a3340.svg"/>
          </div>
        </a>

        <div id="sa">
          <div id="keywords">
              <%let tmp %>
              <% if (results.length > 4) { %>
                <% length=4 %>
              <% } else {%>
                <% length=results.length %>
              <% } %>
              <% for (let k=0; k < length ; k++) { %>
                <a href="detailhtml?id=<%= results[k].id %>" class="detail">
                  <img class="cir<%=k %>" src="https://static.overlay-tech.com/assets/d2e75451-1aaa-4848-a3f7-50da3f65d965.png" />
                  <% keywords = results[k].keywords.split(',') %>

                        <% if (keywords.length> 3) { %>
                          <% length2=3 %>
                        <% } else {%>
                          <% length2=keywords.length %>
                        <% } %>
                  <% for (let i=0; i < length2 ; i++) { %>
                    <p class="kw<%=k%><%=i%>"><%= keywords[i] %></p>
                  <% } %>
                </a>
                <% tmp=k+1%>
              <% } %>

              <% for (tmp; tmp < 4 ; tmp++) { %>
                  <img class="cir<%=tmp %>" src="https://static.overlay-tech.com/assets/d2e75451-1aaa-4848-a3f7-50da3f65d965.png" />
              <% } %>
          </div>
        </div>
      </div>
      </div>
      <%- include("common/bottomNav.ejs")%>
    </body>
</html>
